<h1>Dashboard</h1>

<div id="links"><p><em><u>Links</u></em></p>
  <p>Click <%= link_to 'here', workouts_path %> to view your workouts.</p>
  <p>Click <%= link_to 'here', steps_path %> to view steps taken.</p>
  <p>Click <%= link_to 'here', cals_path %> to view your calories burned.</p>
  <p>Click <%= link_to 'here', weigh_ins_path %> to view your weigh-in history.</p>
</div>
